<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals App</title>
    <%- include('./imports.ejs') %>
</head>
<body>

    <h1>Add New Animal</h1>
    <form action="/animals" method="POST">
        Species: <input type="text" name="species" required />
        </br>   
        Extinct: <input type="checkbox" name="extinct" />
        </br> 
        Location: <input type="text" name="location" required />
        </br> 
        Life Expectancy: <input type="number" name="lifeExpectancy" />
        </br> 
        <input class="add" type="submit" value="Add Animal" />
    </form>
</br>
    <a class="home" href="/animals">Home</a>
    
    
</body>
</html>