@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap');


*{
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 204, 110);
}

.container {
    text-align: center;
    font-family: Montserrat Alternates;
}

ul {
    list-style: none;
}

h1, .list, .info{
    color: rgb(63, 40, 4);

}

.delete, .edit {
    cursor: pointer;
    font-family: Montserrat Alternates;
    border: 1px solid black;
    border-radius: 10px;
    padding: .3em;
    margin: .5em 0;
    color: white;
}

.info, .list {
    font-weight: 600;
}

.home {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(238, 238, 93);
    color: black;
    padding: .3em;
}

.add {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(18, 199, 130);
    color: black;
    padding: .2em;
}

.delete {
    background-color: rgb(176, 140, 140);
}

.edit {
    background-color:rgb(144, 83, 14);

}